<template>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">{{labels[0]}}</h2>
    </div>

    <div class="card-img-bottom">
      <chartjs-doughnut
        :bind="true"
        :datasets="datasets"
        :labels="labels"
        :option="option"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    propdata: {
      type: Array,
    },
    labels: {
      type: Array
    },
    colors: {
      type: Array
    }
  },
  watch: {
    propdata: async function (newVal, oldVal) {
      this.datasets[0].data = newVal;
    }
  },
  data() {
    return {
      datasets: [
        {
          data: this.propdata,
          backgroundColor: this.colors,
          hoverBackgroundColor: ["#fbd2cd", "#fef5c9", "#d1e3f7"]
        }
      ],
      labels: this.labels,
      option: {
        rotation: 1 * Math.PI,
        circumference: 1 * Math.PI
      }
    };
  },
  mounted () {
    // console.log(this.datasets);
  }
};
</script>