<template>
  <div id="app">
    <h1 class="big">Vue IoT mini dashboard</h1>
    <!-- <h1>{{light.value}} waarde licht</h1>
    <h1>{{humidity.value}} procent luchtvochtigheid</h1>
    <h1>{{tilt.value}} tilt</h1>
    <h1>{{temperature.value}} graden</h1> --><br/>
    <div class="measure-block">
      <doughnut :propdata="temperature_data" :labels="['Temperature']" :colors="['#E30613', '#FBF4B5']" class="chart-1" />
      <p>{{ temperature_data[0] }}&#8451; / 35&#8451;</p>
    </div>
    <div class="measure-block">
      <doughnut :propdata="humidity_data" :labels="['Humidity']" :colors="['#7AD7F0', '#DBF3FA']" class="chart-1" />
      <p>{{ humidity_data[0] }}&percnt; / 100&percnt;</p>
    </div>
    <div class="measure-block">
      <doughnut :propdata="tilt_data" :labels="['Tilt']" :colors="['black', 'lightgray']" class="chart-1" />
      <p>{{ tilt_data[0]}} / 1</p>
    </div>
    <div class="measure-block">
      <doughnut :propdata="light_data" :labels="['Light']" :colors="['#FCD440', '#131862']" class="chart-1" />
      <p>{{ light_data[0] }} / 10000</p>
    </div>
  </div>
</template>

<script>
import { db } from './main'
import Bar from './components/bar'
import Doughnut from './components/doughnut'

export default {
  name: 'App',
  components: {
    'bar': Bar,
    'doughnut': Doughnut
  },
  watch: {
    light: function (val) {
      console.log('light updated');
      let light = val.value;
      let rest = 10000 - light;
      if (rest < 0) {
        rest = 0
      }
      this.light_data = [rest, light];
    },
    humidity: function (val) {
      console.log('humidity updated');
      let hum = val.value;
      let rest = 100 - hum;
      this.humidity_data = [hum, rest];
    },
    tilt: function (val) {
      console.log('tilt updated');
      let tilt = val.value;
      if(tilt === 1) {
        this.tilt_data = [1, 0];
      }
      else {
        this.tilt_data = [0, 1];
      }
    },
    temperature: function (val) {
      console.log('temperature updated');
      let temp = val.value;
      let rest = 35 - temp;
      this.temperature_data = [temp, rest];
    },
  },
  data () {
    return {
      light: '',
      humidity: '',
      tilt: '',
      temperature: '',
      donut_data: [],
      light_data: [],
      humidity_data: [],
      temperature_data: [],
      tilt_data: []
    }
  },
  firestore () {
    return {
      light: db.collection('common').doc('light-last'),
      humidity: db.collection('common').doc('humidity-last'),
      tilt: db.collection('common').doc('tilt-last'),
      temperature: db.collection('common').doc('temperature-last')
    }
  },
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background-color: white;
}

.chart-1 {
  height: 15em;
  width: 20em;
}

.measure-block {
  display: inline-block;
}

.big {
  font-size: 80px;
  margin-bottom: 1em;
}

p {
  font-size: 30px;
}
</style>
