.slide-1__img {
  height: 200px;
  border: none;
}

.slide-1__img--vue {
  height: 170px;
  border: none;
  padding: 20px 0;
  padding-left: 2em;
}

.reveal section img {
  border: none;
  background: none;
  box-shadow: none;
}

.slide-2-2__image {
  height: 300px;
}

.slide-3-2__img {
  height: 300px;
  padding-left: 100px;
}

.list-item {
  float: right;
}

.list-units {
  width: 80%;
}

.plant-1, .plant-2, .plant-3 {
  height: 15em;
}

.live-demo__sensors {
  height: 150px;
  padding-left: 2em;
  padding-top: 2em;
}

.live-demo__data {
  padding: 10px 0;
}

.live-demo__iframe {
  height: 15em;
  width: 95%;
}

.live-demo__iframe__section {
  top: 0;
}

.small {
  margin-top: 5em;
  font-size: 12px;
  font-style: italic;
}

.no-top {
  margin-top: 0 !important;
}

p {
  font-size: 16px;
  line-height: 2.3em !important;
}